.jumbotron{
    background-color: #007BFF;
    color: white;
    margin-top: 50px;
    padding-left: 20px;
}

h1{
    color: white;
}
label{
    color: white;
}
.footer{
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #007BFF;
    margin-bottom: 10px;
}

.card-hotel{
    flex: 1 200px;   
    background-color: #272727;
}
thead{
    color: white;
}
.white_text{
    color: white;
}
.black_text{
    color: black;
}
tbody{
    color: lightgrey;
}
.thead-dark1{
    background-color: #123456;
}
.bg-dark1{
    background-color: #181818;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
a{
    color: black;
}
p{
    color: white;
}
.black{
    color: black;
}
hr{
    color: white;
}
h3{
    color: white;
}
.body{
    background-color: #181818;
}
.card-info1{
    flex: 1 200px;
    padding: 10px 10px 10px 10px;
    background-color: #ff9100;
    margin: 15px 15px 15px;
}
.card-info2{
    flex: 1 200px;
    padding: 10px 10px 10px 10px;
    background-color: #ae00ff;
    margin: 15px 15px 15px;
}
.card-info3{
    flex: 1 200px;
    padding: 10px 10px 10px 10px;
    background-color: #ff00bf;
    margin: 15px 15px 15px;
}
.card-about{
    flex: 1 200px;
    padding: 10px 10px 10px 10px;
    background-color: #272727;
    margin: 15px 15px 15px;
}
.tab-content{
    margin-top: 10px;
}